@* @{
    ViewData["Title"] = "Uploaded Images";
}

<h1>@ViewData["Title"]</h1> *@
<h2 id="upid" class="text-secondary text-center">Upload Image</h2>

<table class="table table-bordered table-active table-hover table-primary table-striped">
    <thead>
        <tr>
            <th>Sr. no</th>
            <th>Image</th> 
            <th>Download &Aacute; Delete </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
            <tr>
                <td>@image.Id</td>
                <td>
                   
                    <img src="~/images/@image.FileName" alt="@image.FileName" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    <a href="@Url.Action("Download", "Image", new { id = image.Id })" class="btn btn-outline-success">Download</a>
                    <a href="@Url.Action("Delete", "Image", new { id = image.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Upload", "Image")" class="btn btn-outline-secondary">Upload New Image</a>
